# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_NAME=mydb

# Tushare Configuration
TUSHARE_TOKEN=dfed7db4780d8cdd9d9420d0d0a4f9a54b43275d6aa1f783ec3c2377
